body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  
  .sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ebe6e6;
    overflow-x: hidden;
    /* transition: 0.005s; */
    padding-top: 60px;
  }
  
  .sidenav a {
    display: none;
  }

  .sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /* transition: 0.3s; */
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  .noscroll::-webkit-scrollbar{ 
    display: none;
  }

  .cardcss{
    text-align: center;
    box-shadow: 3px 3px 7px rgb(103, 103, 235);
  }

/*   
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  } */
  
  
  .round { border-radius: 50%; }